
body{
background-color: teal;
background-image: url("../Images/home.jpg");
background-repeat:no-repeat;
background-position:50px 50px;
/*background-size: 1000px 1200px;*/
}



p{
	font-size:20px;
	color: #FF8800;
	
}

p,h1,h2
{
	text-decoration: underline;
}

/* h4
{
	background-color:yello;
} */

p
{
	font-family:Garamond,"Times New Roman",serif;
	font-size: x-large;
	font-style: italic;
	font-weight:bold;
}

h5{
	font-size: 24px;
}

h6
{
	font-size: 20pt;
}
h4{
	font-size: 5em;
}

.c1{
	color:purple;
	text-decoration: underline;
	
}
.c2
{
    font-family:cursive;
	text-overflow: ellipsis;
	
	}
	
#pid
{
	text-decoration: line-through;
}

.txt
{
	text-align:center;
	text-decoration: underline overline line-through;
}
.clr
{
	background-color: #00ffff;
	color: white;
}
ol
{
	list-style: lower-greek ;
}
ul
{
	list-style: hebrew;
}

#myCanvas
{
	/*border: 1pz solid #000;*/
	border-width: 2px;
	border-style: dashed;
	border-color: orange;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
}
